<section class="bg-light py-5">
    <div class="bg-light py-5">
        <div class="bg-light py-3">
            <h1 class="text-center mt-4 mb-4">Pagina no encontrada :(</h1>
            <p class="text-center mt-4 mb-4">Lo sentimos, pero la vista a la que quieres acceder no existe.</p>
        </div>
    </div>
</section>