<!-- Start Services Section -->
<form action="" method="post">
    <section class="bg-light py-5">
        <div class="container">
            <div id="carouselExampleInterval md-4" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <img src="./img/gallery_01.jpg" class="d-block w-100" alt="Masajes">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>MASAJES</h2>
                            <p>Servicio de masajes</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="./img/gallery_02.jpg" class="d-block w-100" alt="Limpieza Facial">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>LIMPIEZA FACIAL</h2>
                            <p>Servicio de limpieza</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="./img/gallery_03.jpg" class="d-block w-100" alt="Exfoliación">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>EXFOLIACIÓN</h2>
                            <p>Servicio de exfoliación corporal</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="row text-center mt-4 md-4">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1" style="color: palevioletred;">Nuestros Servicios</h1>
                    <p>
                        Descubre la amplia gama de servicios que ofrecemos para tu bienestar y belleza.
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card border-0 shadow-sm">

                        <div class="card-body text-center">
                            <h2 class="h4" style="color: palevioletred;">Masajes</h2>
                            <ul class="list-unstyled mt-3">
                                <li>Anti-stress</li>
                                <li>Descontracturantes</li>
                                <li>Masajes con piedras calientes</li>
                                <li>Circulatorios</li>
                            </ul>
                        </div>


                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card border-0 shadow-sm">

                        <div class="card-body text-center">
                            <h2 class="h4" style="color: palevioletred;">Belleza</h2>
                            <ul class="list-unstyled mt-3">
                                <li>Lifting de pestaña</li>
                                <li>Depilación facial</li>
                                <li>Belleza de manos y pies</li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card border-0 shadow-sm">

                        <div class="card-body text-center">
                            <h2 class="h4" style="color: palevioletred;">Tratamientos Faciales</h2>
                            <ul class="list-unstyled mt-3">
                                <li>Punta de Diamante: microexfoliación</li>
                                <li>Limpieza profunda + Hidratación</li>
                                <li>Crio frecuencia facial: efecto lifting</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card border-0 shadow-sm">

                        <div class="card-body text-center">
                            <h2 class="h4" style="color: palevioletred;">Tratamientos Corporales</h2>
                            <ul class="list-unstyled mt-3">
                                <li>VelaSlim: reducción corporal y celulitis</li>
                                <li>DermoHealth: drenaje linfático</li>
                                <li>Criofrecuencia: efecto lifting instantáneo</li>
                                <li>Ultracavitación: Técnica reductora</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <select class="form-select mt-3" style="width: min-content;" name="selectTratBelleza"
                    id="selectTratBelleza">
                    {{!-- <option value="">Seleccione un servicio</option>
                    {{#each servicios}}
                    <option value="{{this.nombre}}">{{this.nombre}}</option>
                    {{/each}} --}}
                    <option value="">Seleccione un servicio</option>
                </select>
            </div>
        </div>

    </section>
    <!-- End Services Section -->

    <!-- Start Turnos Section -->
    <section class="bg-light py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 m-auto">
                    <h1 class="h1 text-black">Reserva tu turno</h1>
                    <p class="text-black">Reserva tu turno para disfrutar de nuestros servicios.</p>
                </div>

                <div class="container d-flex flex-column align-items-center mt-4">
                    <div class="calendar mb-3">
                        <h5>Selecciona la fecha</h5>
                        <input type="date" name="appointment-date" id="appointment-date"
                            class="form-control custom-date-input">
                    </div>

                    <div class="time-picker-section">
                        <h5>Elige un horario disponible</h5>
                        <div id="timeSlotsContainer" class="grid-container"></div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12 text-center">
                        <button type="submit" id="confirm-btn" class="btn btn-primary"
                            style="background-color: rgb(255, 0, 255); border-color: rgb(255, 0, 255);"
                            disabled>Confirmar Turno</button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Campos ocultos para almacenar los datos seleccionados -->
    <input type="hidden" name="selectedtime" id="selectedtime">
    <input type="hidden" name="selectedtreatment" id="selectedtreatment">
    <input type="hidden" name="selecteddate" id="selecteddate">
    <!-- End Turnos Section -->
</form>