<!-- Start Services Section -->
<section class="bg-light py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Nuestros Servicios</h1>
                <p>
                    Descubre la amplia gama de servicios que ofrecemos para tu bienestar y belleza.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <div class="card-body text-center">
                        <h2 class="h4 text-success">Masajes</h2>
                        <ul class="list-unstyled mt-3">
                            <li>Anti-stress</li>
                            <li>Descontracturantes</li>
                            <li>Masajes con piedras calientes</li>
                            <li>Circulatorios</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <div class="card-body text-center">
                        <h2 class="h4 text-success">Belleza</h2>
                        <ul class="list-unstyled mt-3">
                            <li>Lifting de pestaña</li>
                            <li>Depilación facial</li>
                            <li>Belleza de manos y pies</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <div class="card-body text-center">
                        <h2 class="h4 text-success">Tratamientos Faciales</h2>
                        <ul class="list-unstyled mt-3">
                            <li>Punta de Diamante: Microexfoliación</li>
                            <li>Limpieza profunda + Hidratación</li>
                            <li>Crio frecuencia facial: efecto lifting</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card border-0 shadow-sm">
                    <div class="card-body text-center">
                        <h2 class="h4 text-success">Tratamientos Corporales</h2>
                        <ul class="list-unstyled mt-3">
                            <li>VelaSlim: Reducción corporal y celulitis</li>
                            <li>DermoHealth: drenaje linfático</li>
                            <li>Criofrecuencia: efecto lifting instantáneo</li>
                            <li>Ultracavitación: Técnica reductora</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section -->
