<!-- Start Who We Are Section -->
<section id="who-we-are" class="fondo1 py-5">
    <div class="container">
        <div class="row text-center mb-4">
            <div class="col-lg-8 m-auto">
                <h1 class="h1 text-success">Quiénes Somos</h1>
                <p class="lead text-muted">
                    Conoce la historia, misión y equipo detrás de nuestro spa, un espacio dedicado a tu bienestar y relajación.
                </p>
            </div>
        </div>

        <!-- Historia del Spa -->
        <div class="row my-5">
            <div class="col-lg-6">
                <img src="./img/history.jpg" class="img-fluid rounded" alt="Historia del Spa">
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="text-align-left">
                    <h2 class="h2 text-success">Nuestra Historia</h2>
                    <p>
                        Fundado en 2019, nuestro spa ha crecido hasta convertirse en un refugio de tranquilidad y bienestar. Desde nuestros inicios, nos hemos comprometido a ofrecer tratamientos de alta calidad en un entorno relajante y acogedor.
                    </p>
                </div>
            </div>
        </div>

        <!-- Visión y Misión -->
        <div class="row my-5">
            <div class="col-lg-6 order-lg-last">
                <img src="./img/mission.jpg" class="img-fluid rounded" alt="Visión y Misión">
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="text-align-left">
                    <h2 class="h2 text-success">Visión y Misión</h2>
                    <p><strong>Visión:</strong> Ser el spa de referencia en la región, reconocido por nuestra excelencia en el cuidado del bienestar.</p>
                    <p><strong>Misión:</strong> Proporcionar un espacio donde cada cliente pueda relajarse, rejuvenecer y encontrar la paz interior, a través de servicios personalizados y un trato excepcional.</p>
                </div>
            </div>
        </div>

        <!-- Equipo de Profesionales -->
        <div class="row my-5">
            <div class="col-lg-6">
                <img src="./img/team.jpg" class="img-fluid rounded" alt="Equipo de Profesionales">
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="text-align-left">
                    <h2 class="h2 text-success">Nuestro Equipo</h2>
                    <p>
                        Conoce a los expertos que hacen posible cada experiencia en nuestro spa. Desde la doctora Felicidad hasta nuestros talentosos terapeutas, estamos aquí para ofrecerte lo mejor.
                    </p>
                </div>
            </div>
        </div>

        <!-- Compromiso con el Cliente -->
        <div class="row my-5">
            <div class="col-lg-6 order-lg-last">
                <img src="./img/commitment.jpg" class="img-fluid rounded" alt="Compromiso con el Cliente">
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="text-align-left">
                    <h2 class="h2 text-success">Compromiso con el Cliente</h2>
                    <p>
                        Nos dedicamos a ofrecer un servicio personalizado que se adapta a las necesidades individuales de cada cliente, garantizando una experiencia única y satisfactoria en cada visita.
                    </p>
                </div>
            </div>
        </div>

        <!-- Start Map -->
        <div class="col-lg-12 text-center">
            <h2 class="h2 text-success">Donde nos encontramos</h2>
        </div>
        <div id="mapid" style="width: 100%; height: 600px; display: flex; justify-content: center; align-items: center;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14162.490839294767!2d-58.988693321765126!3d-27.44986663503993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450cf0c80be0d3%3A0xc9f9278c74810912!2sUTN%20-%20Facultad%20Regional%20Resistencia!5e0!3m2!1ses!2sar!4v1723412536036!5m2!1ses!2sar" width="600" height="500" style="border:none;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
</section>
<!-- End Who We Are Section -->
