<!-- Start Services Section -->
<form action="" method="post">
    <section class="bg-light py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Nuestros Servicios</h1>
                    <p>
                        Descubre la amplia gama de servicios que ofrecemos para tu bienestar y belleza.
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card border-0 shadow-sm">

                        <div class="card-body text-center">
                            <h2 class="h4 text-success">Masajes</h2>
                            <ul class="list-unstyled mt-3">
                                <li>Anti-stress</li>
                                <li>Descontracturantes</li>
                                <li>Masajes con piedras calientes</li>
                                <li>Circulatorios</li>
                            </ul>
                        </div>


                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card border-0 shadow-sm">

                        <div class="card-body text-center">
                            <h2 class="h4 text-success">Belleza</h2>
                            <ul class="list-unstyled mt-3">
                                <li>Lifting de pestaña</li>
                                <li>Depilación facial</li>
                                <li>Belleza de manos y pies</li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card border-0 shadow-sm">

                        <div class="card-body text-center">
                            <h2 class="h4 text-success">Tratamientos Faciales</h2>
                            <ul class="list-unstyled mt-3">
                                <li>Punta de Diamante: Microexfoliación</li>
                                <li>Limpieza profunda + Hidratación</li>
                                <li>Crio frecuencia facial: efecto lifting</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card border-0 shadow-sm">

                        <div class="card-body text-center">
                            <h2 class="h4 text-success">Tratamientos Corporales</h2>
                            <ul class="list-unstyled mt-3">
                                <li>VelaSlim: Reducción corporal y celulitis</li>
                                <li>DermoHealth: drenaje linfático</li>
                                <li>Criofrecuencia: efecto lifting instantáneo</li>
                                <li>Ultracavitación: Técnica reductora</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">

                <select class="form-select mt-3" style="width: min-content;" name="selectTratBelleza" id="selectTratBelleza">
                    <option value="">Seleccione un tratamiento</option>

                    <option value="Anti-stress">Anti-stress</option>
                    <option value="Descontracturantes">Descontracturantes</option>
                    <option value="Masajes con piedras calientes">Masajes con piedras calientes</option>
                    <option value="Circulatorios">Circulatorios</option>

                    <option value="Lifting de pestaña">Lifting de pestaña</option>
                    <option value="Depilación facial">Depilación facial</option>
                    <option value="Belleza de manos y pies">Belleza de manos y pies</option>

                    <option value="Punta de Diamante: Microexfoliación">Punta de Diamante: Microexfoliación</option>
                    <option value="Limpieza profunda + Hidratación">Limpieza profunda + Hidratación</option>
                    <option value="Crio frecuencia facial: efecto lifting">Crio frecuencia facial: efecto lifting</option>

                    <option value="VelaSlim: Reducción corporal y celulitis">VelaSlim: Reducción corporal y celulitis</option>
                    <option value="DermoHealth: drenaje linfático">DermoHealth: drenaje linfático</option>
                    <option value="Criofrecuencia: efecto lifting instantáneo">Criofrecuencia: efecto lifting instantáneo</option>
                    <option value="Ultracavitación: Técnica reductora">Ultracavitación: Técnica reductora</option>

                </select>

            </div>
        </div>
    </section>
    <!-- End Services Section -->

    <!-- Start Turnos Section -->

    <section class="bg-light py-5">

        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 m-auto">
                    <h1 class="h1 text-black">Reserva tu turno</h1>
                    <p class="text-black">Reserva tu turno para disfrutar de nuestros servicios.</p>
                </div>

                <div class="container d-flex flex-column align-items-center mt-4">
                    <div class="calendar mb-3">
                        <h5>Selecciona la fecha</h5>
                        <input type="date" name="appointment-date" id="appointment-date" class="form-control custom-date-input">
                    </div>

                    <div class="time-picker-section">
                        <h5>Elige un horario disponible</h5>
                        <div id="timeSlotsContainer" class="grid-container"></div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12 text-center">
                        <button type="submit" id="confirm-btn" class="btn btn-success" disabled>Confirmar Turno</button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Campos ocultos para almacenar los datos seleccionados -->
    <input type="hidden" name="selectedtime" id="selectedtime">
    <input type="hidden" name="selectedtreatment" id="selectedtreatment">
    <input type="hidden" name="selecteddate" id="selecteddate">
</form>

<!-- End Turnos Section -->


{{!-- <script>
    function mostrarOpciones(categoria) {
        console.log('Función mostrarOpciones llamada para:', categoria);

        // Oculta todos los selects primero
        document.querySelectorAll('.form-select').forEach(select => {
            select.style.display = 'none';
        });

        // Muestra el select correspondiente a la categoría
        const select = document.getElementById('select' + categoria);
        if (select) {
            select.style.display = 'block';
            select.onchange = function() {
                if (this.value !== '') {
                    // Enviar los datos al servidor mediante fetch
                    fetch('/about', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ servicio: this.value })
                    })
                    .catch(error => {
                        console.error('Error al enviar el servicio:', error);
                    });
                }
            };
        } else {
            console.log('No se encontró el elemento select para la categoría:', categoria);
        }
    }
</script> --}}

