<!-- Start News Section -->
<section class="bg-white py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Últimas Noticias</h1>
                <p>
                    Mantente al día con las últimas novedades y actualizaciones de nuestro spa.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <!-- News Item 1 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-0 shadow-sm mb-4">
                    <img src="ruta_a_la_imagen_1.jpg" class="card-img-top" alt="Noticia 1">
                    <div class="card-body">
                        <h2 class="h5 card-title">Título de la Noticia 1</h2>
                        <p class="card-text">
                            Resumen breve de la noticia 1. Un par de líneas que capturen la atención del lector.
                        </p>
                        <a href="#" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
            <!-- News Item 2 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-0 shadow-sm mb-4">
                    <img src="ruta_a_la_imagen_2.jpg" class="card-img-top" alt="Noticia 2">
                    <div class="card-body">
                        <h2 class="h5 card-title">Título de la Noticia 2</h2>
                        <p class="card-text">
                            Resumen breve de la noticia 2. Un par de líneas que capturen la atención del lector.
                        </p>
                        <a href="#" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
            <!-- News Item 3 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-0 shadow-sm mb-4">
                    <img src="ruta_a_la_imagen_3.jpg" class="card-img-top" alt="Noticia 3">
                    <div class="card-body">
                        <h2 class="h5 card-title">Título de la Noticia 3</h2>
                        <p class="card-text">
                            Resumen breve de la noticia 3. Un par de líneas que capturen la atención del lector.
                        </p>
                        <a href="#" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End News Section -->
