<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo" style="font-style: italic;">Spa Sentirse Bien</h2>
                <ul class="list-unstyled text-white footer-link-list">
                    <li><i class="fas fa-map-marker-alt fa-fw"></i> French 414</li>
                    <li><i class="fa fa-phone fa-fw"></i> <a class="text-decoration-none"
                            href="tel:010-020-0340">010-020-0340</a></li>
                    <li><i class="fa fa-envelope fa-fw"></i> <a class="text-decoration-none"
                            href="mailto:info@spasentirsebien.com">info@spasentirsebien.com</a></li>
                </ul>
            </div>

            <div class="col-md-6 pt-5">
                <h2 class="h2 text-white border-bottom pb-3 border-light">Servicios</h2>
                <ul class="list-unstyled text-white footer-link-list">
                    <li><a class="text-decoration-none" href="/inicio">Quienes Somos</a></li>
                    <li><a class="text-decoration-none" href="/servicios">Servicios</a></li>
                    <li><a class="text-decoration-none" href="/noticias">Noticias</a></li>
                    <li><a class="text-decoration-none" href="/empleos">Empleos</a></li>
                </ul>
            </div>
        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" href="http://facebook.com/"><i
                                class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" href="https://www.instagram.com/"><i
                                class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" href="https://www.youtube.com/"><i
                                class="fab fa-youtube fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" href="https://twitter.com/"><i
                                class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Email address</label>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2024 Triple A
                        | Designed by <a rel="sponsored" target="_blank">Grupo 19</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->