<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="/">
            <img src="./img/favicon.png" alt="Logo" class="img-fluid" style="max-height: 70px;">
        </a>
        <a class="navbar-brand text-success logo h1 align-self-center"
            style="font-family: 'Courier New', Courier, monospace;" href="/inicio">SPA</a>
        <a class="navbar-brand text-success logo h3 align-self-center" style="font-family: cursive;" href="/inicio">Sentirse
            bien</a>

        <!-- Botón de Colapso -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav"
            aria-controls="templatemo_main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item"><a class="nav-link" href="/inicio">Quienes Somos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/servicios">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" href="/noticias">Noticias</a></li>
                    <li class="nav-item"><a class="nav-link" href="/empleos">Empleos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/comentarios">Comentarios</a></li>
                </ul>
            </div>

            <div class="navbar align-self-center">
                <ul class="navbar-nav d-flex flex-column flex-lg-row justify-content-between mx-lg-auto">
                    {{#if username}}
                    <li class="nav-item mb-2 mb-lg-0 me-lg-2">
                        <a href="/profile" class="btn btn-primary">{{username}}</a>
                    </li>
                    <li class="nav-item mb-2 mb-lg-0 me-lg-2">
                        <a href="/logout" class="btn btn-danger">Salir</a>
                    </li>
                    {{#if role}}
                    <li class="nav-item mb-2 mb-lg-0 me-lg-2">
                        <a href="/admin" class="btn btn-info">Administrador</a>
                    </li>
                    {{/if}}
                    {{else}}
                    <li class="nav-item mb-2 mb-lg-0 me-lg-2">
                        <a href="/login" class="btn btn-success">Acceder</a>
                    </li>
                    <li class="nav-item mb-2 mb-lg-0 me-lg-2">
                        <a href="/register" class="btn btn-outline-success">Registrarse</a>
                    </li>
                    {{/if}}
                </ul>
            </div>

        </div>
    </div>
</nav>
<!-- End Header -->